<form action="/create" method="post">
    <h2>Creat Model</h2>
    <div class="input-filed">
        <input type="text" name="title">
        <label>Model Title</label>
    </div>
    <button type="submit" class="btn"> Create</button>
</form>